{% assign post = site.posts 
  | where_exp: "post", "post.slug == include.lookup"
  | first
  | default: include
%}

<div class="post-excerpt">
  <div class="post-thumbnail-wrapper">
    {% if post.image %}
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-thumbnail">
      </a>
    {% endif %}
  </div>
  <div class="post-content-wrapper">
    <a href="{{ post.url | relative_url }}" class="post-title">{{ post.title }}</a>
    {%
      include post-info.html
      author=post.author
      published=post.date
      updated=post.last_modified_at
      tags=post.tags
    %}
    {% assign excerpt = post.content
      | default: ""
      | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
      | default: post.excerpt
      | default: ""
      | strip_html
    %}
    <p class="post-excerpt-text">
      {{ excerpt }}
    </p>
  </div>
</div>
