---
layout: default
---

<h1>{{ page.title }}</h1>

{% capture floatcontent %}

{%- include figure.html image=page.image width="500px" caption=page.imagecaption -%}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}


{% assign project_members = '' | split: '' %}

{%- for m in site.members -%}
  {%- if m.projects contains page.name -%}
  {% assign project_members = project_members | push: m %}
  {%- endif -%}
{%- endfor -%}

<p>
  Group members involved in the {{ page.name | default: page.title }} project: 
  {% for m in project_members %}
    <a href="{{ m.url | relative_url }}">
    {{- m.name -}}
    </a>
    {%- if forloop.last == false %}, {%- endif %}
  {%- endfor -%}
</p>

{% capture search -%}
  publications/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url }}">
    Search for papers about {{ page.name | default: page.title }} on the Publications page
  </a>
</p>
